.App {
    text-align: center;
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 50%;
    max-height: 40%;
    border-radius: 6%;
}
